@page "/"

<PageTitle>Rybiarze - forum</PageTitle>

<div class="container">
    @foreach (var post in posts)
    {
        <a href="/article/@post.Id">
        <div class="row">
            <div class="col-2">
                <img class="post-img" src="./img/articleMainImages/@post.Image" />
            </div>
            <div class="col-8 post-front-page">
                <h1>@post.Title</h1>
                <p>@post.Introduction</p>
            </div>
            <div class="col-2 info">
                <time>12:51 07.06.2023r.</time>
                <div>
                    <div class="avatar">
                        <img src="img/articleMainImages/sum.webp"/>
                    </div>
                    <h6>Filip Statkiewicz</h6>
                </div>
            </div>
        </div>
        </a>

        <hr/>
    }

    
    <p>Introduction text</p>
</div>

@using Forum.Data;
@inject IConfiguration configuration;
@code {
    private AppDbContext _context;
    public List<Forum.Data.Post> posts;

    protected override async Task OnInitializedAsync()
    {
        _context = new AppDbContext(configuration);
        posts = _context.Posts.ToList();
    }
}
