@page "/article/{id:int}"

<div class="container">
    <div class="row">
        <img class="post-card-img" src="./img/articleMainImages/@post.Image"/>
        <div class="text">
            <div class="info">
                <time>12:51 07.06.2023r.</time>
            </div>

            <h1>@post.Title</h1>
            <hr/>
            <h3>@post.Introduction</h3>
            <hr/>
            <p>@post.BodyText</p>

            <div class="info">
                <div>
                    <div class="avatar">
                        <img src="img/articleMainImages/sum.webp" />
                    </div>
                    <h6>Filip Statkiewicz</h6>
                </div>
            </div>
        </div>
    </div>
</div>

@using Forum.Data;
@inject IConfiguration configuration;
@code {
    [Parameter]
    public int id { get; set; }
    private AppDbContext _context;
    public Forum.Data.Post post;

    protected override async Task OnInitializedAsync()
    {
        _context = new AppDbContext(configuration);
        post = _context.Posts.Where(x => x.Id == id).FirstOrDefault();
    }
}