@inherits LayoutComponentBase

<PageTitle>Forum</PageTitle>

<div class="page">
    <main class="main">
        <article class="content px-4">
            @Body
        </article>
    </main>
    
    <button class="add-post-btn">
        <i class="fa-solid fa-plus"></i>
        <span>Dodaj wpis</span>
    </button>
    
    <footer class="footer">
        <h6 class="footer__copyright">
            Copyright ©2023 All rights reserved | Designed and created by <a href="https://github.com/Er1v3s">Filip Statkiewicz</a>
        </h6>
    </footer>
</div>
