.post-card-img {
    width: 40%;
    margin: var(--tags-separator-desktop);
    padding: var(--margin-desktop);
    box-shadow: 0px 0px 10px var(--default-elements-color);
    border-radius: 10px;
    background-color: white;
}

.row {
    display: flex;
    justify-content: center;
}

.text {
    box-shadow: 0px 0px 10px var(--default-elements-color);
    border-radius: 10px;
    padding: var(--margin-desktop);
    background-color: white;
    margin-bottom: 30px;
}

.AddCommentContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px var(--default-elements-color);
    border-radius: 10px;
    padding: var(--margin-desktop);
    background-color: white;
    margin-bottom: 30px;
}

.AddCommentContainer .inputTextArea {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.AddCommentContainer form button {
    display: block;
    width: 100%;

}

.AddPostContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px var(--default-elements-color);
    border-radius: 10px;
    padding: var(--margin-desktop);
    background-color: white;
    margin-bottom: 30px;
}

.AddPostContainer .inputTextArea {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.AddPostContainer label {
    width: 100%;
}

.AddPostContainer .bodyText .inputTextArea{
    height: 250px;
}

.AddPostContainer form button {
    display: block;
    width: 100%;
}

.comment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 10px var(--default-elements-color);
    border-radius: 10px;
    padding: var(--margin-desktop);
    background-color: white;
    margin-bottom: 30px;
}

.comment h5 {
    font-size: 20px;
    font-weight: bold;
}

.comment time {
    justify-self: right;
}

.comment p {
    padding: var(--margin-desktop) 0;
    grid-column: span 2;
    font-size: 16px;
    border-top: 1px solid #a0a0a0;
    margin: 0;
}